@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.nav-css {
    color: #ffffff;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.nav-items {
    color: black;
    font-weight: bold;
}

.home-icon-background {
    background-color: #D3D3D3;
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50px;
}

.intro-section-bg-container {
    background-color: lightblue;
    padding: 15px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    width: 100vw;
}

.intro-greeting {
    color: #192226;
    font-size: 50px;
    font-weight: 600;
}

.intro-role {
    color: #0f1416;
    font-size: 30px;
    font-weight: 500;
}

.intro-desciption {
    color: #1e292d;
    font-size: 22px;
    font-weight: 500;
}

.intro-getInTouch-btn {
    border: none;
    background-color: #2c657a;
    color: #ffffff;
    padding: 10px;
}

/* SMALL DEVICE*/
@media screen and (max-width: 768px) {
    .intro-md-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 80%;
        flex-grow: 1;
    }

    .intro-img-card {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin: 20px;
        height: 220px;
        width: 270px;
    }
}

.intro-img-card {
    border-radius: 450px;
    height: 270px;
    width: 300px;
    /*width: 50%;
    height: 270px;
    padding: 40px;*/
    display: flex;
}

@media screen and (min-width:767px) {
    .intro-img-card {
        margin-left: 20%;
    }
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-pic {
    border: solid 5px;
    border-radius: 550px;
    min-width: 100%;
    min-height: 110%;
}

.about-section-bg-container {
    padding: 15px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.about-me-text {
    color: #192226;
    font-size: 25px;
    font-weight: bold;
}

.about-me-desc {
    color: #192226;
    font-size: 22px;
}

/*.about-text-container {
    max-width: 50%;
}*/

.about-my-img {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 50%;*/
}

.skills-container {
    margin: 10px;
    background-color: #E6F1F2;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 310px;
    transition: transform 0.3s;
}

.skills-container:hover {
    transform: scale(1.05);
}

.skills-icon {
    text-align: center;
    font-size: 70px;
    flex-grow: 1;
    width: 60%;
}

.skills-name {
    font-size: 30px;
    font-weight: bold;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.skill-bar {
    width: 80%;
    height: 6px;
    background-color: #ddd;
    border-radius: 10px;
}

.skill-fill {
    width: 90%;
    height: 100%;
    background-image: linear-gradient(to right, #056d87, #86b8c4, #91b2ba);
    border-radius: 10px;
}

.project-container {
    height: 350px;
    width: 100%;
    margin: 5px;
    background-color: #E6F1F2;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.project-container:hover {
    transform: scale(1.05);
}

.view-proj {
    text-align: left;
}

.contact-text {
    color: lightgrey;
}

.contact-section-bg-container {
    background-color: #1B2657;
}

.contact-subtext {
    font-size: 18px;
    color: grey;
}

.contact-form-container {
    background-color: white;
    border-radius: 10px;
}

.contact-input {
    border-radius: 8px;
    border: 1px solid #ccc;
}

.contact-input:focus {
    border-color: #6c757d;
    box-shadow: none;
}

.contact-btn {
    background-color: #6c757d;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
}

.contact-btn:hover {
    background-color: #495057;
    color: white;
}

.contact-social-icons {
    font-size: 24px;
}

.contact-icons {
    margin: 0 10px;
    color: #6c757d;
    transition: 0.3s;
}

.contact-icons:hover {
    color: #343a40;
    transform: scale(1.2);
}